<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<!-- loading -->
<div th:fragment="loading" class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                请稍等，正在拉取中。。。
            </div>
        </div>
    </div>
</div>
</body>
</html>